@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

/*
      SPACE SIZE SYSTEM (px)
      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 /
      80 / 96 / 128

      FONT SIZE SYSTEM (px)
      10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 /
      36 / 44 / 52 / 62 / 74 / 86 / 98
      */

/*
      MAIN COLOR: hsl(225, 100%, 94%);
      GREY COLOR: hsl(245, 75%, 52%);


      ### Neutral

      - Very pale blue: hsl(225, 100%, 98%)
      - Desaturated blue: hsl(224, 23%, 55%)
      - Dark blue: hsl(223, 47%, 23%)
      */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* {} */

body {
  font-family: "Red Hat Display", sans-serif;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dbe4ff;
}

img {
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}

h1 {
  font-weight: 900;
  margin-top: 32px;
  margin-bottom: 18px;
}

h2 {
  font-size: 16px;
  font-weight: 900;
  margin-bottom: 2px;
}

.card-container {
  background-color: #fff;
  width: 450px;
  height: 700px;
  border-radius: 18px;
}

.content {
  text-align: center;
}

.main-paragraph {
  font-size: 16px;
  font-family: "Red Hat Display", sans-serif;
  margin-right: 48px;
  margin-left: 48px;
  margin-bottom: 22px;
}

.audio-section {
  background-color: hsl(225, 100%, 98%);
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 32px;
  padding: 24px 24px;
  border-radius: 9px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.icon {
  margin-right: 20px;
}

.price {
  display: inline;
  margin-right: auto;
}

.option:link,
.option:visited {
  color: hsl(245, 75%, 52%);
}

.btn {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.btn:link,
.btn:visited {
  color: #fff;
  font-weight: 700;
  background-color: hsl(245, 75%, 52%);
  text-decoration: none;
  border-radius: 9px;
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 34px;
  padding-top: 16px;
  padding-bottom: 16px;
  box-shadow: hsl(245, 75%, 52%) 0px 20px 20px -20px;
}

.footer-section {
  font-weight: 700;
  margin-top: 32px;
  color: #868e96;
}
